<h1> MADLIB TIME </h1>

<h2>Once upon a time in the bustling city of <%= @noun1 %>, there lived a peculiar <%= @adjective1 %> scientist named Professor Taylor. One day, he decided to <%= @adverb1 %> <%= @verb1 %> his latest invention, the Spaghetti-O-Matic.</h2>